.order-container {
    display: flex;
    justify-content: flex-start; /* left-align children */
    align-items: flex-start;     /* top-align children */
    gap: 2rem;                   /* spacing between menu and cart */
    text-align: left;             /* override parent centering */
}

.main-container{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.menu-container{
    flex: 2;
}

.cart-container{
    flex: 1;
}