/* transferred default vite styling into this file */
.button-container {
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding: 5em;

    align-items: center;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 4rem;
    font-weight: 500;
    font-family: inherit;
    background-color: #f3f1f1;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    align-items: center;

}
