/* transferred default vite styling into this file */
.cashier-button,
.admin-button,
.kiosk-button {
    border-radius: 25px;
    border: 1px solid transparent;
    padding: 50px 300px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #f3f1f1;
    cursor: pointer;
    transition: border-color 0.25s;
}
.cashier-button:hover,
.admin-button:hover,
.kiosk-button:hover{
    border-color: #646cff;
}
.cashier-button:focus,
.cashier-button:focus-visible,
.admin-button:focus,
.admin-button:focus-visible,
.kiosk-button:focus,
.kiosk-button:focus-visible{
    outline: 4px auto -webkit-focus-ring-color;

}

body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    align-items: center;

}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 350px;
}
